@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}
.mainbox {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    width: auto;
    margin: auto;  
    height: auto; 
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgb(234, 254, 254), rgb(170, 217, 255)); 
    /*background-color: rgb(165, 206, 211);*/
}


.mainbox h1 {
    font-size: 8em;
    z-index: 0;
    position: relative; /* Important for positioning the pseudo-element */
    margin: 0; /* Remove default margin */
    margin-top: 15vh;
}

.mainbox h1::after {
    content: ""; /* Required for the pseudo-element */
    display: block; /* Make it a block element */
    width: 100%; /* Make it full width */
    height: 0.06em; /* Adjust the height of the underline */
    background: linear-gradient(to right, rgb(165, 206, 211), rgb(106, 171, 193)); /* Gradient color */
    position: absolute; /* Position it absolutely */
    left: 0; /* Align to the left */
    bottom: 0.075em; /* Position below the text */
    z-index: -1; /* Send it behind the text */
}

.contentBox {
    margin-top: 15em;
    display: flex;
    flex-direction: column;
    width: 80vw;
    gap: 20vh;
}
.contentBox #infoBox {
    animation: appear linear both;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
    border-radius: 1em;
    /* box-shadow: -12px 12px 2px 1px rgba(0, 0, 255, .2); */
    box-shadow: -32px 16px teal;

}
.about {
    width: 35vw;
    height: 20vw;
    background-color: white;
}
.demos {
    width:40vw;
    height: 20vw;
    background-color: white;
    margin-left:auto
}

.bottom {
    margin-left: 2em;
    display: flex;
    width: 60vw;
    align-self: flex-start;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15em;
}
.contact {
    width: 30vw;
    height: 20vw;
    background-color: white;

}
.getStarted {
    font-size: larger;
    background-color: white;
    border-radius: 1em;
    padding: 1rem;
    width: auto;
    height: auto;
}
.getStarted a {
    text-decoration: none;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}